.profile {
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 20rem;
      border-radius: 100%;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    width: 40rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
      margin: 1rem;
    }
  }
}

.github-icon {
  color: black;
}

.icon {
  svg {
    width: 2rem;
    height: 2rem;
  }
}
